.navbar-main{
    display: flex;
    align-items: center;
    padding: 20px;

    justify-content: space-around;

}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
li{
    list-style-type: none;
}
.a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.menu{
    display: none;
}

@media screen and (max-width:500px){
    .menu{
        margin-left: 80px;
        display: block;
        font-size: 35px;
    }
    .navbar-main ul{
        display: none;

    }

    
}